<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">infinera</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
         <!--  
        <property name="hibernate.jdbc.batch_size">20</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        
       
        <mapping resource="xyyj/chapter05/bidirection/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter05/bidirection/Team.hbm.xml"/>
        
        <mapping resource="xyyj/chapter05/unidirection/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter05/unidirection/Team.hbm.xml"/>
        
        <mapping resource="xyyj/chapter03/Monkey.hbm.xml"/>
        
        <mapping resource="xyyj/chapter04/IncrementTester.hbm.xml"/>
        <mapping resource="xyyj/chapter04/IdentifyTester.hbm.xml"/>
        <mapping resource="xyyj/chapter04/HiloTester.hbm.xml"/>
        <mapping resource="xyyj/chapter04/NativeTest.hbm.xml"/>
        
        <mapping resource="xyyj/chapter06/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter06/Team.hbm.xml"/>
        
        <mapping resource="xyyj/chapter07/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter07/Team.hbm.xml"/>
        
        <mapping resource="xyyj/chapter08/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter09/Monkey.hbm.xml"/>
        
        
        <mapping resource="xyyj/chapter10/imp1/Team.hbm.xml"/>
        <mapping resource="xyyj/chapter10/imp1/JMonkey.hbm.xml"/>
        <mapping resource="xyyj/chapter10/imp1/CMonkey.hbm.xml"/>
        
        <mapping resource="xyyj/chapter10/imp2/Team.hbm.xml"/>
        <mapping resource="xyyj/chapter10/imp2/Monkey.hbm.xml"/>      
        
        <mapping resource="xyyj/chapter10/imp3/Team.hbm.xml"/>
        <mapping resource="xyyj/chapter10/imp3/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter10/imp3/CMonkey.hbm.xml"/>
        <mapping resource="xyyj/chapter10/imp3/JMonkey.hbm.xml"/>
        
        <mapping resource="xyyj/chapter12/testset/Monkey.hbm.xml"/>  
        <mapping resource="xyyj/chapter12/testbag/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter12/testlist/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter12/testmap/Monkey.hbm.xml"/>
        <mapping resource="xyyj/chapter12/testsort/Monkey.hbm.xml"/>

        <mapping resource="xyyj/chapter13/fkmap/Address.hbm.xml"/>
        <mapping resource="xyyj/chapter13/fkmap/Monkey.hbm.xml"/>
        
        <mapping resource="xyyj/chapter13/pkmap/Address.hbm.xml"/>
        <mapping resource="xyyj/chapter13/pkmap/Monkey.hbm.xml"/>
        
        <mapping resource="xyyj/chapter13/smm/Teacher.hbm.xml"/>
        <mapping resource="xyyj/chapter13/smm/Monkey.hbm.xml"/>
        
        <mapping resource="xyyj/chapter13/dmm1/Teacher.hbm.xml"/>
        <mapping resource="xyyj/chapter13/dmm1/Monkey.hbm.xml"/>        
        -->
        <mapping resource="xyyj/chapter13/dmm2/Teacher.hbm.xml"/>
        <mapping resource="xyyj/chapter13/dmm2/Monkey.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
